@model IEnumerable<LogCorner.BlogPost.Web.Mvc.Models.PostViewModel>

<h3>Post list</h3>
<p>
    @Html.ActionLink("Create New post", "Create", new { blogId = ViewBag.blogId })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PostId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BlogId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Url)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PostId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BlogId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Url)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.PostId }) |
                @Html.ActionLink("Details", "Details", new { id = item.PostId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.PostId, blogId = item.BlogId })
            </td>
        </tr>
    }
</table>